<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMR Tracker</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>column 1 row 1</p>
            </div>
            <div class="col">
                <p>column 2 row 1</p>
            </div>
        </div>
    </div>
</body>
</html>