<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYM</title>
</head>
<body>
    
<h1>Is luke going to the gym?</h1>
<% if (lukeGoingToGym) { %>
    <p>Luke is cool</p>
<% } else { %>
    <p>Luke is NOT cool</p>
<% } %>

</body>
</html>