<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>MMR Tracker</title>
    <script src="../client-side-js/mmrtacker.js"></script>
    <style>
    * {
        outline: 3px black solid
    }
    html,body{height:100%;}

    .bg-purple {
    background: rgb(48,0,50);
    }
    .bg-gray {
    background: rgb(74,74,74);
    }
    .bg-blue {
    background: rgb(50,101,196);
    }
    .bg-red {
    background: rgb(196,50,53);
    }
    .state1 {
        display: none;
    }
    .state2 {
        display: initial;
    }
    .form-right {
        width: 29%;
        float: right;
        height: 100%
    }
    .form-left {
        width: 69%;
        float: left;
        height: 100%
    }
    </style>
</head>
<body>
    <div class="container h-100">
        <div class="row justify-content-center align-content-center h-100">
            <div class="col">
                <div class="text-center">
                    <h1>TEAM 1</h1>
                </div>
                <div class="align-content-center" id="div-team1player1">
                    <form onsubmit="return toggleView('t1p1')">
                        <input class="t1p1 state1 form-leftside" type="text" value="Platform name">
                        <input class="t1p1 state1 form-button" onclick="toggleView('t1p1')" type="submit" value="SET">
                        <canvas class="t1p1 state2 form-leftside" id="team1player1"></canvas>
                        <input class="t1p1 state2 form-button" onclick="toggleView('t1p1')" type="reset" value="ðŸ”">
                    </form>
                    
                </div>
                <div>
                    <canvas class="form-left" id="team1player2_canvas"></canvas>
                    <textarea class="form-right" id="team1player2_text" rows="1"></textarea>
                    <button id="team1player2_set" value="SET"></button>
                    <button id="team1player2_reset" value="RESET"></button>                 
                    
                </div>
                <div>
                    <canvas id="team1player3"></canvas>
                </div>
                <div>
                    <canvas id="team1player4"></canvas>
                </div>
                <div>
                    <canvas id="team1player5"></canvas>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h1>TEAM 2</h1>
                </div>
                <div>
                    <canvas id="team2player1"></canvas>
                </div>
                <div>
                    <canvas id="team2player2"></canvas>
                </div>
                <div>
                    <canvas id="team2player3"></canvas>
                </div>
                <div>
                    <canvas id="team2player4"></canvas>
                </div>
                <div>
                    <canvas id="team2player5"></canvas>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>