<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>MMR Tracker</title>

    <style>
    * {
        outline: 3px black solid
    }
    html,body{height:100%;}

    .bg-purple {
    background: rgb(48,0,50);
    }
    .bg-gray {
    background: rgb(74,74,74);
    }
    .bg-blue {
    background: rgb(50,101,196);
    }
    .bg-red {
    background: rgb(196,50,53);
    }
    .state1 {
        display: none;
    }
    .state2 {
        display: initial;
    }
    .form-button {
        width: 29%
    }
    .form-leftside {
        width: 69%
    }
    </style>
</head>
<body>
    <div class="container h-100">
        <div class="row justify-content-center align-content-center h-100">
            <div class="col">
                <div class="text-center">
                    <h1>TEAM 1</h1>
                </div>
                <div id="div-team1player1">
                    <form>
                        <input class="state1 form-leftside" type="text" value="Platform name">
                        <input class="state1 form-button" type="submit" value="SET">
                        <canvas class="state2 form-leftside" id="team1player1"></canvas>
                        <input class="state2 form-button" type="reset" value="ðŸ”">
                    </form>
                    
                </div>
                <div>
                    <canvas id="team1player2"></canvas>
                </div>
                <div>
                    <canvas id="team1player3"></canvas>
                </div>
                <div>
                    <canvas id="team1player4"></canvas>
                </div>
                <div>
                    <canvas id="team1player5"></canvas>
                </div>
            </div>
            <div class="col">
                <div class="text-center">
                    <h1>TEAM 2</h1>
                </div>
                <div>
                    <canvas id="team2player1"></canvas>
                </div>
                <div>
                    <canvas id="team2player2"></canvas>
                </div>
                <div>
                    <canvas id="team2player3"></canvas>
                </div>
                <div>
                    <canvas id="team2player4"></canvas>
                </div>
                <div>
                    <canvas id="team2player5"></canvas>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>