<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>MMR Tracker</title>

    <style>
    * {
        outline: 3px black solid
    }
    html,body{height:100%;}

    .bg-purple {
    background: rgb(48,0,50);
    }
    .bg-gray {
    background: rgb(74,74,74);
    }
    .bg-blue {
    background: rgb(50,101,196);
    }
    .bg-red {
    background: rgb(196,50,53);
    }
    </style>
</head>
<body>
    <div class="container h-100">
        <div class="row justify-content-center align-content-center h-100">
            <div class="float-left">
                TEAM 1
                <canvas id="team1player1"></canvas>
                <canvas id="team1player2"></canvas>
                <canvas id="team1player3"></canvas>
                <canvas id="team1player4"></canvas>
                <canvas id="team1player5"></canvas>
            </div>
            <div class="float-right">
                TEAM 2
                <canvas id="team2player1"></canvas>
                <canvas id="team2player2"></canvas>
                <canvas id="team2player3"></canvas>
                <canvas id="team2player4"></canvas>
                <canvas id="team2player5"></canvas>
            </div>
        </div>
    </div>
    
</body>
</html>