<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>MMR Tracker</title>

    <style>
    * {
        outline: 1px black solid
    }
    html,body{height:100%;}

    .bg-purple {
    background: rgb(48,0,50);
    }
    .bg-gray {
    background: rgb(74,74,74);
    }
    .bg-blue {
    background: rgb(50,101,196);
    }
    .bg-red {
    background: rgb(196,50,53);
    }
    </style>
</head>
<body>
    <div class="container-fluid h-100">
        <div class="row justify-content-center h-100">
          <div class="col-4 bg-red">
            <div class="h-100 d-flex flex-column">
              <div class="row justify-content-center bg-purple">
                <div class="text-white">
                  <div style="height:150px">ROW 1 - fixed height</div>
                </div>
              </div>
              <div class="row justify-content-center bg-blue flex-grow-1">
                <div class="text-white">ROW 2 - grow remaining height</div>
              </div>
            </div>
          </div>
          <div class="col-8 bg-gray text-white">
              <p>Hey, neighbor.</p>
          </div>
        </div>
      </div>
    
</body>
</html>