<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>MMR Tracker</title>

    <style>
    * {
        outline: 3px black solid
    }
    html,body{height:100%;}

    .bg-purple {
    background: rgb(48,0,50);
    }
    .bg-gray {
    background: rgb(74,74,74);
    }
    .bg-blue {
    background: rgb(50,101,196);
    }
    .bg-red {
    background: rgb(196,50,53);
    }
    </style>
</head>
<body>
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div>
                hello
            </div>
        </div>
    </div>
    
</body>
</html>