<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Jake Bailey-Saltmarsh, Bootstrap">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Jake BS Software</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        main > .container {
            padding: 60px 15px 0;
        }

        .footer {
            background-color: #f5f5f5;
        }

        .footer > .container {
            padding-right: 15px;
            padding-left: 15px;
        }

        code {
            font-size: 80%;
        }

    </style>

  </head>
  <body class="d-flex flex-column h-100">

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand mr-0 mr-md-4" href="/tutor" aria-label="Bootstrap"><img class="nav-link" src="/media/circleLogo.svg"></a>
            <ul class="navbar-nav mr-3">
                <li class="nav-item">
                    <a class="nav-item nav-link active" href="/tutor">Home</a>
                </li>
            </ul>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#GettingStarted">Getting Started</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Animation">Animation</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

<!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Jake Bailey-Saltmarsh</h1>
            <h5 class="mt-2">Tutor</h1>
            <p class="lead">Find all my teaching resources on this page</p>
            <p>Use this page to find links to resources I use and other interesting content. I will also provide a link for any online tools I use so that you can follow along</p>
            <p>There are currently two specifications for GCSE computer science, the <a href="https://filestore.aqa.org.uk/resources/computing/specifications/AQA-8520-SP-2016.PDF">2016 Spec</a> 
                and the <a href="https://filestore.aqa.org.uk/resources/computing/specifications/AQA-8525-SP-2020.PDF">2020 Spec</a>.
                I will be using the newer 2020 Spec. The main difference between the two specs is the newer moves full-syntax programming onto the written Paper 1.</p>
        </div>
        <div id="GettingStarted" class="container">
            <h3 class="mt-0">Getting Started</h1>
            <p class="lead">Here you will find links to my google drive folder for you to download resources</p>
            <p>For my main google drive folder: click <a href="https://drive.google.com/drive/folders/1E__gQlnAfbStoaavc6p3mjTFtcFVz9V6?usp=sharing"> here </a></p>
            <p>I will add more to this folder as we cover more content</p>
        </div>
        <div id="Sa" class="container">
            <h3 class="mt-0">Online Coding</h3>
            <p>Online Python3 interpreter: click <a href="https://repl.it/languages/python3"> here </a></p>
            <p>Online VB.NET interpreter: click <a href="https://www.jdoodle.com/compile-vb-dot-net-online/"> here </a></p>
            <p>Online C# interpreter: click <a href="https://repl.it/languages/csharp"> here </a></p>
        </div>
        <div id="Sb" class="container">
            <h3 class="mt-0">Coding Ideas</h3>
            <p class="lead">This is a list of coding projects (in difficulty order) to try. More will be added over time</p>
            <h6>Scratch</h6>
            <ul>
                <li>Pong</li>
                <li>Quiz</li>
                <li>Flappy Bird</li>
                <li>Break Breaker</li>
                <li>Castle Adventure (from 1984)</li>
            </ul>
            <h6>Python, C# and VB.NET (console)</h6>
            <ul>
                <li>Quiz</li>
                <li>Noughts and crosses</li>
                <li>Quiz with login to remember your score</li>
                <li>Connect 4</li>
                <li>Quiz with login and question database</li>
            </ul>
        </div>
        <div id="Animation" class="container">
            <h3 class="mt-0">Animation</h3>
            <p>Scratch: <a href="https://scratch.mit.edu/projects/editor/">here</a></p>
            <p>Scratch animation tutorial: <a href="https://thestempedia.com/tutorials/scratch-animations/">here</a></p>
            <p>Other animation software (some are free): <a href="https://www.computerhope.com/jargon/a/animatio.htm">here</a></p>
            <p>How animation works: <a href="https://www.futurelearn.com/courses/explore-animation/0/steps/12222">here</a></p>
            


        </div>
        <div id="Sd" class="container">
            <h3 class="mt-0">Definitions</h3>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Term</th>
                    <th scope="col">First</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Algorithm</td>
                    <td>An algorithm is a sequence of steps that can 
                        be followed to complete a task</td>
                  </tr>
                  <tr>
                    <td>Decomposition</td>
                    <td>To break down a problem into a number of 
                        sub-problems, so that each sub-problem carries 
                        out an identifiable task</td>
                  </tr>
                  <tr>
                    <td>Abstraction</td>
                    <td>The process of removing unnecessary 
                        detail from a problem</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div id="Se" class="container">
            

        </div>
        <div id="Sf" class="container">
            <h3 class="mt-0">Logic Gates</h3>
            <p class="lead">Find all the logic gates we've looked at here</p>
            <img src="/media/logic gates.png" alt="Logic Gates">
        </div>
        <div id="Sf" class="container">
            <h3 class="mt-0">Homework</h3>
            <p class="lead">This is where I will set homework and reference the specification</p>
            <ul>
                <li>HW1 -- Learn the definition of "algorithm" and "decomposition"
                    <p></p>
                </li>

            </ul>
        </div>

        
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">Jake Bailey-Saltmarsh 2020 &copy</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    </body>
</html>